.incomeT{
    width: 375px;
    height: 40px;
    /* padding: 20px; */
    /* padding would mess up mui */
    display: flex;
}
.incomeL{
    width: 415px;
    height: 419px;
    display: flex;
    flex-direction: column ;
}
.income2{
    width: 375px;
    height: 56px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.income2LIncome{
    width: 46px;
    height: 46px;
    margin-right: 14px;
    background-image: url(../Icons//income.png);
    background-size: 100% 100%;
}
.income2LExpense{
    width: 46px;
    height: 46px;
    margin-right: 14px;
    background-image: url(../Icons/expenses.png);
    background-size: 100% 100%;
}
.income2LProfit{
    width: 46px;
    height: 46px;
    margin-right: 14px;
    background-image: url(../Icons/profit.png);
    background-size: 100% 100%;
}
.income2R{
    width: 142px;
    height: 56px;
    display: flex;
    flex-direction: column;
}
.income2RT{
    width: 142px;
    height: 24px;
    font-size: 1rem;
    text-align: left;
    color: rgba(50,71,92,0.6);
}
.income2RB{
    width: 142px;
    height: 32px;
    display: flex;
    align-items: center;
}
.income2RBL{
    width: 75px;
    height: 32px;
    margin-right: 2px;
    font-size: 1.25rem;
    color: rgba(50, 71, 92, 0.87);
}
.income2RBM{
    width: 22px;
    height: 22px;
    background-image: url(../Icons/up\ arrow.png);
    background-size: 100% 100%;
}

.income2RBR{
    width: 40px;
    height: 20px;
    font-size: 0.875rem;
    line-height: 20px;
    color: rgb(113, 221, 55);
}
.income3{
    width: 410px;
    height: 222px;
    margin-bottom: 20px;
    margin-left: -22px;
}
.income4{
    width: 375px;
    height: 57px;
    display: flex;
    align-items: center;
}
.income4L{
    width: 127px;
    height: 127px;
    margin-right: 16px;
}
.income4R{
    width: 161px;
    height: 44px;
    display: flex;
    flex-direction: column;
}
.income4RT{
    width: 161px;
    height: 24px;
    color: rgba(50, 71, 92, 0.6);
    font-size: 1rem;
    text-align: left;
}
.income4RB{
    width: 161px;
    height: 20px;
    font-size: 0.875rem;
    color: rgba(50, 71, 92, 0.38);
    text-align: left;
}